/*=================== common style ========================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/* ===================header style===========================  */

.header-part {
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    background: #161616;
    border-radius: 30px;
    margin: 50px 150px 100px 150px;
    padding-top: 30px;

}


.header-title {
    line-height: 50px;

}

.para-line {
    margin: 15px auto;
    font-size: 16px;
    font-style: normal;
}

.fifa-btn {
    padding: 20px 50px;
    color: white;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
    background-color: indigo;
    transition: width 5s ease;

}

.fifa-btn:hover {
    width: 250px;
}

.header-img {
    display: flex;
    height: 500px;
}

/* =========================main style====================*/

.content {
    display: flex;
    gap: 50px;
    align-items: flex-start;
    margin: 80px 150px 50px 150px;

}

.side-bar {
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 312px;
    height: 312px;
}

.side-link {
    padding: 15px 70px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: indigo;
    color: white;
    text-decoration: none;
}

#upcoming-match,
#all-group {
    background-color: white;
    color: black;
}

#upcoming-match,
#all-group,
#blog:hover {
    border: 2px solid indigo;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    row-gap: 40px;
}

.card {
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(215, 216, 216);
    padding: 10px;

}



.transfer-btn {
    text-decoration: none;
    width: 70px;
    height: 23px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-dec {
    margin: 10px;
}

.icon {
    display: flex;
    padding-left: 10px;
    align-items: center;
    gap: 50px;
    color: rgba(22, 22, 22, 0.7);
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 10px;
}

#view-btn {
    visibility: hidden;
}

/*================== design for website 2 =======================*/


.flags {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    row-gap: 40px;
}


.flag-img {
    display: flex;
    align-items: center;
}

.flag {
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgb(215, 216, 216);
    padding: 50px;
}


.flag-dec {
    margin-top: 10px;
}

/*================== design for website 3=======================*/

.fa-star {
    fill: yellow;
}

.btn-book {
    background-color: rgb(202, 69, 69);
    color: white;
    padding: 15px 30px;
    border-radius: 10px;
}


/* =============footer style  ===============*/

footer {
    background-color: black;
    color: white;
    padding: 100px;

}

footer,
.goal {
    text-align: center;

}

hr {
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-content {
    display: flex;
    gap: 50px;
    justify-content: center;
    color: #B9B9B9;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;

}

.social-media,
.fa-facebook .fa-linkedin-in .fa-twitter {
    font-size: 30px;
    color: indigo;
}

/*---------------- Media query ---------------------*/

/* Mobile screen  */

@media only screen and (max-width: 688px) {


    .header-part {
        flex-direction: column;
        text-align: center;
        margin: 10px;
        width: 100%;
    }

    .content {
        flex-direction: column;
        margin-left: 10px;
    }

    .side-bar {

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .footer-content {
        flex-direction: column;
    }

    .social-media {

        justify-content: center;
    }
}

#view-btn {
    visibility: hidden;
}


.flags {

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.flag-img {
    display: flex;
    align-items: center;
}




/* Tablet screen  */

@media only screen and (min-width: 688px) and (max-width: 992px) {
    .header-part {
        flex-direction: column;

    }

    .header-content {
        text-align: center;
    }

    .content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .side-bar {
        width: 100%;
        height: fit-content;
        flex-direction: row;
        background-color: transparent;
        align-items: stretch;
        justify-content: center;
    }

    .cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 20px;
        justify-content: center;

    }

    #view-btn {
        visibility: visible;
        margin-left: 320px;
        margin-bottom: 20px;
        padding: 12px 29px;
        gap: 10px;
        width: 131px;
        height: 47px;

    }
}

.flags {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.flag-img {
    display: flex;
    align-items: center;
}