/* common style  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    color: black;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100vh;

}

/* header style  */

.header-part {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background: #161616;
    border-radius: 30px;
    margin: 5px 80px 30px 80px;


}


.header-title {
    line-height: 40px;

}

.para-line {
    margin: 15px auto;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;

}

.fifa-btn {
    padding: 15px 30px;
    color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 15px;
    background-color: indigo;
}

.header-img {
    display: flex;
    height: 500px;

}

/* main style  */

.content {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 100px 80px 30px 80px;

}

.side-bar {
    display: flex;
    flex-direction: column;
    padding: 50px;
    background-color: black;
    color: white;
    border-radius: 10px;


}

.side-btn {
    padding: 15px 70px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    background-color: indigo;
    color: white;
}

#upcoming-match,
#all-group {
    background-color: white;
    color: black;
}

#upcoming-match,
#all-group,
#blog:hover {
    border: 2px solid indigo;

}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;


}

.card {
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px;
    box-shadow: 1px 1px 5px rgb(215, 216, 216);
}

.card-img {
    width: 312px;
    height: 175px;
}


.transfer-btn {
    text-decoration: none;
    width: 70px;
    height: 23px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.card-dec {
    margin: 10px;
}

.icon {
    display: flex;
    padding-left: 10px;
    align-items: center;
    gap: 50px;
    color: rgba(22, 22, 22, 0.7);
    font-size: 16px;
    line-height: 26px;
}

/* footer style  */

footer {
    background-color: black;
    color: white;
    padding: 100px;
}

footer,
.goal {
    text-align: center;

}

footer,
hr {
    margin: 50px auto;
    background-image: linear-gradient(to right, rgba(32, 30, 30, 0), rgba(34, 32, 32, 0.75), rgba(248, 245, 245, 0));
}

.footer-content {
    display: flex;
    justify-content: space-evenly;
    color: #B9B9B9;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

}

.social-media,
.fa-facebook .fa-linkedin-in .fa-twitter {
    font-size: 30px;
}